.hero-content {
  position: relative;
  max-width: 600px;
  padding: 0 50px;
  z-index: 1;
}

.hero h1 {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  color: var(--background-color);
}

.hero picture {
  position: absolute;
  z-index: -1;
  inset: 0;
  object-fit: cover;
  box-sizing: border-box;
}

.hero img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

@media (width >= 900px) {
  .hero {
    padding: 40px 32px;
  }
}


.btn-hero {
  display: inline-block;
  padding: 12px 30px;
  border: 2px solid #fff;
  border-radius: 30px;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s;
}

.btn-hero:hover {
  background: #fff;
  color: #000;
}
